body, input, textarea {
  background-color:black;
  color:white;
}
button {
  background-color:darkblue;
  color:white;
  border:solid 1px white;
}
button:hover {
  background-color:darkred;
}
button:active {
  background-color:darkgreen;
}
button:disabled {
  background-color:darkslategray;
}
img {
  height:2em;
}
.c {
  text-align:center;
}
.e {
  margin-left:0.5em;
  margin-right:0.5em;
  margin-top:0.25em;
  margin-bottom:0.25em;
}
.column {
  float:left;
  width:50%;
}
.row {
  content: "";
  display:table;
  clear:both;
  width:100%;
}
a:link {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
td, th {
  padding:4px;
  border:solid 1px white;
}
tr {
  background-color:#222222;
}
th {
  background-color:darkslategray;
}
table {
  border:solid 1px white;
  border-collapse:collapse;
}